*
!.gitignore
!README.md
!etc
!etc/config
!etc/config/alfred
!etc/config/batman-adv
!etc/config/firewall
!etc/config/network
!etc/config/wireless
!usr
!usr/local
!usr/local/bin
!usr/local/bin/batctl-if-add
!usr/local/bin/batctl-if-del
!usr/local/bin/batctl-log
!usr/local/bin/mac-to-ip
