<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="robot_1_name" default="X1_1" />

  <!-- Other potential robot names -->
  <!--
  <arg name="robot_2_name" default="X1_2" />
  -->

  <!-- Spawn your team here. -->
  <include file="$(find x1_gazebo)/launch/spawn_x1.launch">
    <arg name="robot_namespace" value="$(arg robot_1_name)"/>
    <arg name="x" value="1"/>
    <arg name="y" value="1"/>
  </include>

  <!-- Other potential robots. -->
  <!--
  <include file="$(find x1_gazebo)/launch/spawn_x1.launch">
    <arg name="robot_namespace" value="$(arg robot_2_name)"/>
    <arg name="x" value="2"/>
    <arg name="y" value="2"/>
  </include>
  -->

  <!-- Launch your controller nodes -->
  <!--<node name="$(arg robot_1_name)_control" pkg="subt_seed" type="subt_seed_node" args="$(arg robot_1_name)" output="screen"/>-->

  <!-- Other potential controllers -->
  <!--
  <node name="$(arg robot_2_name)_control" pkg="subt_seed" type="subt_seed_node" args="$(arg robot_2_name)" />
  -->

  <!-- OctoMap
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
		<param name="resolution" value="0.05" />
		<param name="frame_id" type="string" value="/X1_1/x1_velocity_controller/odom" />
		<param name="sensor_model/max_range" value="5.0" />
		<remap from="cloud_in" to="/X1_1/points" />
  </node> -->

</launch>
