<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="x2_name" default="X2" />

  <!-- Spawn your team here. -->
  <group ns="$(arg x2_name)">
    <include file="$(find x2_description)/launch/description.launch">
      <arg name="robot_namespace" value="$(arg x2_name)" />
    </include>
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -model $(arg x2_name) -param robot_description -x 0 -y 1 -z 0.2" />
    <include file="$(find x2_control)/launch/control.launch">
      <arg name="robot_namespace" value="$(arg x2_name)" />
    </include>
  </group>

  <!-- Launch your controller nodes -->
  <node name="$(arg x2_name)_control" pkg="subt_seed" type="subt_seed_node" args="$(arg x2_name)" />

  <!-- Start RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find subt_seed)/rviz/x2.rviz" />

  <node name="rosservice_left_headlight" pkg="rosservice" type="rosservice" args="call /$(arg x2_name)/left_headlight/enable 'data: true'" />
  <node name="rosservice_center_left_headlight" pkg="rosservice" type="rosservice" args="call /$(arg x2_name)/center_left_headlight/enable 'data: true'" />
  <node name="rosservice_center_right_headlight" pkg="rosservice" type="rosservice" args="call /$(arg x2_name)/center_right_headlight/enable 'data: true'" />
  <node name="rosservice_right_headlight" pkg="rosservice" type="rosservice" args="call /$(arg x2_name)/right_headlight/enable 'data: true'" />

</launch>
